header
{
	border: 2px solid black;
	background: url(../img/header_bg.png);
	background-repeat: no-repeat;
	background-size: 1100px 250px;
}

div
{
	align-content: center;
	margin: 0 auto;
	width: 1100px;
}